{% extends "profilku/head.html" %}
{% load staticfiles %}
{% block content %}
<div class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle text-center">
    <div class="cell medium-12 title">Add Schedule</div>
  </div>
</div>
<div class="grid-x">
  <div class="cell medium-12 card">
    <form class="grid-x grid-margin-x register" action="{% url 'jadwalku:saveschedule' %}" method="POST">
      {% csrf_token %}
      <div class="cell medium-6">
        <label>Date:
          {{schedule_form.date}}
        </label>
      </div>
      <div class="cell medium-6">
        <label>Time:
          {{schedule_form.time}}
        </label>
      </div>
      <div class="cell medium-6">
        <label>Name:
          {{schedule_form.name}}
        </label>
      </div>
      <div class="cell medium-6">
        <label>Place:
          {{schedule_form.place}}
        </label>
      </div>
      <div class="cell medium-6">
        <label>Category:
          {{schedule_form.category}}
        </label>
      </div>
      <div class="cell grid-x align-right">
        <div class="cell medium-3 text-right">
          <input type="submit" class="button" value="Submit">
        </div>
      </div>
  </form>
</div>
{% endblock %}
