{% extends "profilku/head.html" %}
{% load staticfiles %}
{% block content %}
    <div class="grid-container">
      <div class="grid-x grid-margin-x align-middle text-center">
        <div class="cell medium-12 title">My Schedule</div>
      </div>
      <div class="cell grid-x align-right">
        <div class="cell medium-3 text-right">
          <a href="{% url 'jadwalku:delete_all' %}">
            <button type="button" class="button" name="button">Delete All</button>
          </a>
        </div>
      </div>
    </div>
    <div class="grid-x align-center-middle">
      {% for data in schedule %}
      <div class="cell medium-4 text-center">
        <h2>{{data.name}}</h2>
        <h6>Date: {{data.date}}</h6>
        <h6>Time: {{data.time}}</h6>
        <p>Place: {{data.place}}</p>
        <p>Category: {{data.category}}</p>
      </div>
      {% endfor %}
    </div>
{% endblock %}
