@font-face {
    font-family: "HelveticaNeue";
    src: url(../font/HelveticaNeueMed.ttf);
}

@font-face {
    font-family: "HelveticaNeue";
    src: url(../font/HelveticaNeueBd.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url(../font/HelveticaNeueLt.ttf);
    font-weight: lighter;
}

html, body {
    font-family: "HelveticaNeue", Helvetica, sans-serif;
    background-color: #F0EEC1;
    font-size: 105%;
}

.top-bar {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #EACA21;
}

.top-bar ul, .title-bar {
    background-color: #EACA21;
}

.title-bar {
    height: 3rem;
    font-weight: bold;
}

.nama-brand {
    font-size: 2rem;
}

.tombol-menu a {
    font-size: 1.5rem;
    color: black;
    padding: 0 0.75rem;
}

.dropdown.menu a {
    padding: 0 0.5rem;
}

.active-page {
    box-sizing: border-box;
    padding: 1rem;
    mix-blend-mode: normal;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: rgba(225, 218, 36, 0.39);
}

.active-page a {
    color: #D80707;
}

.title {
    font-size: 2.5rem;
    margin: 1.5rem auto;
}

.grid-margin-y .title {
    font-size: 2.5rem;
    margin: 1.5rem auto;
}

.caption {
    font-size: 2.25rem;
}

.card-left {
    background: #A4243B;
    border-radius: 30px 0px 0px 30px;
    min-height: 75vh;
}

.card-left img {
    border-radius: 50%;
    margin: 1.75rem;
}

.card-left p {
    font-size: 1.5rem;
    line-height: normal;
}

.personal-info {
    margin: 0 2.5rem;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: normal;
}

.personal-info h3 {
    font-size: 2rem;
}

.card-right {
    background: #D8973C;
    border-radius: 0px 30px 30px 0px;
    min-height: 75vh;
    padding: 1rem 2rem;
}

.card-right-content h3 {
    margin-bottom: 0;
}

.card-right-content ul li {
    font-size: 1.5rem;
    line-height: normal;
}

.timeline {
    position: relative;
    padding-left: 2rem;
    border-left: 2px solid black;
}

.date-content::after {
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    left: -8px;
    border-radius: 10px;
    content: '';
    border: 1px solid black;
    background: black;
    margin-top: .75rem;
}

.date {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.content {
    margin-left: 4rem;
}

.content h5 {
    font-size: 1.5rem;
}

.experience-position {
    margin-bottom: 0;
}

.content p {
    font-size: 1.5rem;
    font-weight: lighter;
}

.card {
    background: #D8973C;
    border-radius: 30px;
    min-height: 73vh;
    margin-bottom: 0;
    padding: 1rem 3rem;
}

.card p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: normal;
    margin: 1rem 0;
}

.card textarea {
    resize: none;
    height: 10rem;
}

.card label {
    font-size: 1.8rem;
    line-height: normal;
}

.card input, .card textarea {
    margin: 0.35rem 0;
    padding: 1rem;
    border: none;
    border-radius: 35px;
    background-color: #F0EEC1;
}

.card textarea:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
}

input[type="date"], input[type="time"] {
    padding: 0 1rem;
}

input[type="submit"] {
    font-size: 1.5rem;
    color: black;
    padding: 0.75rem 1.5rem;
}

input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
    font-size: 1.5rem;
    color: #D80707;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
}

.register input {
    margin: 1rem 0;
}

.cell h2 {
    font-size: 2rem;
}

.bg-dark {
    background-color: #1d2124 !important;
}

.delayA {
    transition-duration: 500ms;
}

.delayB {
    transition-duration: 500ms;
}

.navbar-dark {
    background-color: rgb(6, 54, 132) !important;
    color: white !important;
}

.font-white {
    color: white !important;
}

.active-page-dark {
    background-color: rgba(19, 81, 181, 0.39) !important;
}

.active-page-dark a {
    color: #FAFAFA !important;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loader {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

.searchbar {
    margin: 1rem;
}

.search-field {
    width: 0;
    height: 40px;
    margin-left: 1rem;
    padding: 0;
    border-radius: 50px;
    border: none;
    transition: all 0.5s ease;
}

.expand-search {
    width: 100%;
    max-width: calc(95% - 3rem);
    border: 1px solid #c9c9c9;
    padding: .5rem;
}

svg {
    width: 20px;
    height: 20px;
}

.button {
    border-radius: 50px;
    margin-bottom: 1rem !important;
}

@media only screen and (max-width: 40em) {
    html, body {
        font-size: 95%;
    }

    .nama-brand {
        margin: 0 auto;
    }

    .top-bar-right ul li {
        margin: 0.65rem;
    }

    .card-left, .card-right {
        border-radius: 30px;
    }

    .card h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 64em) {
    html, body {
        font-size: 95%;
    }

    .top-bar-left ul {
        -ms-flex-pack: center;
        justify-content: center;
    }

    .top-bar-right ul {
        -ms-flex-pack: center;
        justify-content: center;
    }
}
