{% load staticfiles %}
{% block content %}
<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li class="has-submenu">
        <a href="#0">One</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="#0">One</a></li>
          <li><a href="#0">Two</a></li>
          <li><a href="#0">Three</a></li>
        </ul>
      </li>
      <li><a href="#0">Two</a></li>
      <li><a href="#0">Three</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu tombol-menu align-middle">
      <li class="{{index}}"><a href="/">Home</a></li>
      <li class="{{portfolio}}"><a href="/portfolio">Portfolio</a></li>
      <li class="{{about}}"><a href="/about">About</a></li>
      <li class="{{contact}}"><a href="/contact">Contact</a></li>
      <li class="{{register}}"><a href="/register">Register</a></li>
    </ul>
  </div>
</div>
{% endblock %}
