{% extends "profilku/head.html" %}
{% load staticfiles %}
{% block content %}
<div class="grid-container">
    <div class="grid-x grid-margin-x align-center-middle text-center">
        <div class="cell medium-12 title">Subscribe</div>
    </div>
    <div class="grid-x">
        <div class="cell medium-12 card" style="min-height: 60vh">
            <form class="grid-x grid-margin-x align-center-middle register" method="POST">
                {% csrf_token %}
                <div class="cell medium-2"></div>
                <div class="cell medium-7">
                    <label>Name:
                        {{form.name}}
                    </label>
                </div>
                <div class="cell medium-3"></div>
                <div class="cell medium-2"></div>
                <div class="cell medium-7">
                    <label>Email:
                        {{form.email}}
                    </label>
                </div>
                <div class="cell medium-3" style="margin-top: 2rem;"><span id="email-status"></span></div>
                <div class="cell medium-2"></div>
                <div class="cell medium-7">
                    <label>Password:
                        {{form.password}}
                    </label>
                </div>
                <div class="cell medium-3"></div>
                <div class="cell medium-6 grid-x align-right">
                    <div class="cell medium-3 text-right">
                        <input id="button-submit" type="submit" class="button" value="Submit" disabled>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="grid-x align-center">
        <table class="hover">
            <thead>
            <tr>
                <td width="520">Name</td>
                <td width="520">Email</td>
                <td></td>
            </tr>
            </thead>
            <tbody id="list-subscriber">
            </tbody>
        </table>
    </div>
</div>

<!-- This is the first modal -->
<div class="reveal" id="exampleModal2" data-reveal>
    <h3>Password for <span id="email-selected"></span>:</h3>
    <label>Password:
        <input type="password" name="password" maxlength="300" required
               id="id_password2">
    </label>
    <button id="btn-submit-password" class="button">Submit</button>
    <p id="password-warning"></p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- This is the nested modal -->
<div class="reveal" id="exampleModal3" data-reveal>
    <h3>Data berhasil dihapus.</h3>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function check_all() {
        // Serialize the form data.
        var formData = $("form").serialize();
        $.ajax({
            type: "POST",
            url: "/subscribe/check_all",
            data: formData,
            dataType: 'json',
            success: function (resp) {
                if (resp.all_checked) {
                    $('#button-submit').removeAttr("disabled");
                } else {
                    $('#button-submit').attr("disabled", "true");
                }
            },
            timeout: 2000,
        });
    };

    function check_email() {
        var formData = $("form").serialize();
        var emailStatus = $('#email-status');
        $.ajax({
            type: "POST",
            url: "/subscribe/check_email",
            data: formData,
            dataType: 'json',
            success: function (resp) {
                emailStatus.empty();
                if (resp.email_registered) {
                    emailStatus.append(`
                    <img src="{% static 'assets/cross-red.png' %}" alt="" width="32">
                    Email already registered`);
                } else {
                    emailStatus.append(`
                    <img src="{% static 'assets/check-green.png' %}" alt="" width="32">
                    `);
                }
            },
            timeout: 2000,
        });
    }

    $('form').submit(function (event) {
        event.preventDefault();
        var formData = $("form").serialize();
        $.ajax({
            type: "POST",
            url: "/subscribe/",
            data: formData,
            dataType: 'json',
            success: function (resp) {
                if (resp.post_success) {
                    alert("Data berhasil disimpan.");
                    $("form")[0].reset();
                    $('#email-status').empty();
                    $('#button-submit').attr("disabled", "true");
                    get_all();
                }
            }
        });
    });

    function get_all() {
        var listSubscriber = $('#list-subscriber');
        $.ajax({
            type: "GET",
            url: "/subscribe/get_all",
            dataType: 'json',
            success: function (data) {
                listSubscriber.empty();
                $.each(data, function (i, subscriber) {
                    listSubscriber.append(`
                    <tr>
                        <td>${subscriber['fields']['name']}</td>
                        <td>${subscriber['fields']['email']}</td>
                        <td>
                            <button type="button" class="button" data-open="exampleModal2"
                             onclick="open_modal('${subscriber['fields']['email']}')" style="margin-bottom: 0 !important;">Unsubscribe</button>
                        </td>
                    </tr>
                `);
                });
            }
        });
    }

    get_all();

    function open_modal(email) {
        var email_selected = $("#email-selected");
        var $modal = $('#exampleModal2');
        email_selected.empty();
        email_selected.append(email);
        $modal.foundation('open');
        $("#btn-submit-password").on("click", function () {
            var password = $("#id_password2").val();
            $.ajax({
                type: "POST",
                url: "/subscribe/delete",
                data: {'email': email, 'password': password},
                dataType: 'json',
                success: function (data) {
                    if (data.delete_success) {
                        $("#exampleModal3").foundation('open');
                        get_all();
                        $("#password-warning").empty();
                    } else {
                        $("#password-warning").empty();
                        $("#password-warning").append("Password Salah.")
                    }
                    $("#id_password2").val("");
                }
            });
        });
    }


</script>
{% endblock %}
