{% extends "profilku/head.html" %}
{% load staticfiles %}
{% block content %}
<div class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle text-center">
    <div class="cell medium-12 title">About Me</div>
  </div>
</div>
<div class="grid-x">
  <div class="cell medium-4 card-left text-center">
    <img src="{% static 'assets/my-portrait.jpg' %}" alt="My Portrait" width="250">
    <p>I’m an active, energetic,<br>
      and cheerful web developer</p>
    <div class="personal-info text-left">
      <h3>Personal</h3>
      Email : jeremiadelviero@gmail.com<br>
      Telephone : 087878058022<br>
      Location : Bekasi, Jawa Barat<br>
      Birthday Date : 7 January 2000
    </div>
  </div>
  <div class="cell medium-8 card-right">
    <div class="card-right-content">
      <h3>Experience:</h3>
      <div class="timeline">
        <div class="date-content grid-x grid-margin-x">
          <div class="date cell medium-3">2015 - 2016</div>
          <div class="content cell medium-8">
            <h5 class="experience-position">Rohkris SMAN 1 Bekasi - Vice Chairman</h5>
            <p>Managing weekly worship - Music Division</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-right-content">
      <h3>Education:</h3>
      <div class="timeline">
        <div class="date-content grid-x grid-margin-x">
          <div class="date cell medium-3">2017 - Now</div>
          <div class="content cell medium-8">
            <h5>Universitas Indonesia - Computer Science</h5>
          </div>
        </div>
        <div class="date-content grid-x grid-margin-x">
          <div class="date cell medium-3">2014 - 2017</div>
          <div class="content cell medium-8">
            <h5>SMAN 1 Bekasi</h5>
          </div>
        </div>
        <div class="date-content grid-x grid-margin-x">
          <div class="date cell medium-3">2011 - 2014</div>
          <div class="content cell medium-8">
            <h5>SMPN 3 Bekasi</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="card-right-content">
      <h3>Skill:</h3>
      <ul>
        <li>Python</li>
        <li>Java</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
