{% extends "profilku/head.html" %}
{% block content %}
<div class="grid-container">
  <div class="grid-x grid-margin-x align-center-middle text-center">
    <div class="cell medium-12 title">Contact Me</div>
  </div>
</div>
<div class="grid-x">
  <div class="cell medium-12 card">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-12">
        <p>Want to connect? Please Send me a message here and I will
          get back to you shortly.<br>
          Feel free to contact me, I love to
          chat!</p>
      </div>
      <div class="cell medium-6">
        <label>First Name:
          <input type="text">
        </label>
      </div>
      <div class="cell medium-6">
        <label>Last Name:
          <input type="text">
        </label>
      </div>
      <div class="cell medium-6">
        <label>Email:
          <input type="text">
        </label>
      </div>
      <div class="cell medium-6">
        <label>Subject:
          <input type="text">
        </label>
      </div>
      <div class="cell medium-12">
        <label>
          Description:
          <textarea></textarea>
        </label>
      </div>
    </div>
    <div class="grid-x align-right">
      <div class="cell medium-3 text-right">
        <input type="submit" class="button" value="Submit">
      </div>
    </div>
  </div>
</div>
{% endblock %}
