{% load staticfiles %}
<!doctype html>
<html class="no-js delayA" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JerDelviero | {{title}}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.min.css' %}">
</head>
<body class="delayA">
<div id="responsive-bar" class="title-bar delayA" data-responsive-toggle="responsive-menu" data-hide-for="medium"
     data-toggle="responsive-menu">
    <button id="responsive-button" class="menu-icon dark delayA" type="button" data-toggle="responsive-menu"></button>
</div>

<div class="top-bar stacked-for-medium delayA" id="responsive-menu">
    <div class="top-bar-left">
        <ul id="navbar1" class="menu vertical medium-horizontal delayA">
            <li class="menu-text nama-brand" data-hide-for="small">JerDelviero</li>
        </ul>
    </div>
    <div class="top-bar-right medium-align-center">
        <ul id="navbar2" class="dropdown menu vertical medium-horizontal tombol-menu align-middle delayA"
            data-dropdown-menu>
            {% if user.is_authenticated %}
            <li>Hello, {{ user.username }}</li>
            <li class="active-page"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="active-page"><a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a></li>
            {% endif %}
            <li class="{{index}} delayA"><a href="/" class="delayA">Home</a></li>
            <li class="{{portfolio}} delayA"><a href="/portfolio">Portfolio</a></li>
            <li class="{{about}} delayA"><a href="/about">About</a></li>
            <li class="{{contact}} delayA"><a href="/contact">Contact</a></li>
            <li class="{{story9}} delayA"><a href="/story9">Story 9</a></li>
            <li class="{{subscribe}} delayA"><a href="/subscribe">Subscribe</a></li>
            <li>
                <a href="#">Schedule</a>
                <ul class="menu vertical">
                    <li><a href="/schedule">My Schedule</a></li>
                    <li><a href="/schedule/add">Add Schedule</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% block content %}
{% endblock %}
<div class="loader"><!-- Place at bottom of page --></div>
<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/what-input.js' %}"></script>
<script src="{% static 'js/vendor/foundation.js' %}"></script>
<!--<script src="{% static 'js/jquery-ui-1.12.1.custom/external/jquery/jquery.js' %}"></script>-->
<script src="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>
