{% extends "profilku/head.html" %}
{% load staticfiles %}
{% block content %}
<div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y align-center-middle text-center">
        <div class="cell medium-12 title">Hello, my name is Jeremia Delviero!</div>
        <div class="cell medium-3"><img src="{% static 'assets/my-photo.png' %}"
                                        alt="My Photo" width="350">
            <button class="button" id="button-theme" style="margin-top: 1rem">Ubah Tema</button>
        </div>
        <div class="cell medium-9" style="margin-bottom: 3rem">
            <div id="accordion">
                <h3 id="accordion1">Home</h3>
                <div>
                    <p>
                        Currently majoring Computer Science in University of Indonesia.
                        <br>
                        I’m interested in Web Development and Software Engineering.
                    </p>
                </div>
                <h3 id="accordion2">Activities</h3>
                <div>
                    <ul>
                        <li>Pursuing my Bachelor Degree</li>
                        <li>Casually playing video games</li>
                        <li>Looking for Internship</li>
                    </ul>
                </div>
                <h3 id="accordion3">Organization Experiences</h3>
                <div>
                    <ul>
                        <li>Vice Head of Rohani Kristen SMAN 1 Bekasi 2016 - 2017</li>
                        <li>PIC of Games and Competition - Computers Get Together 2019</li>
                    </ul>
                </div>
                <h3 id="accordion4">Achievements</h3>
                <div>
                    <ul>
                        <li>Semifinalist at EURECA Business Plan Competition Prasetiya Mulya University</li>
                        <li>Champion as 9Awan Team at First Player Shooter Competition Computers Get Together 2018</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}
