{% extends "profilku/head.html" %}
{% load staticfiles %}
{% block content %}
    <div class="grid-container">
      <div class="grid-x grid-margin-x align-center-middle text-center">
        <div class="cell medium-12 title">My Portfolio</div>
      </div>
      <div class="grid-x grid-margin-x grid-margin-y align-center-middle text-center">
        <div class="cell medium-6"><img src="{% static 'assets/calnomy-porto.png' %}"
          alt="My Photo" width="400"></div>
        <div class="cell medium-6"><img src="{% static 'assets/biszard-porto.png' %}"
          alt="My Photo" width="400"></div>
    </div>
{% endblock %}
