{% extends "profilku/head.html" %}
{% block content %}
    <div class="grid-container">
      <div class="grid-x grid-margin-x align-center-middle text-center">
        <div class="cell medium-12 title">Register</div>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell medium-12 card">
        <form class="grid-x grid-margin-x register" action="/" method="post">
          <div class="cell medium-12">
            <p>Register your account now!</p>
          </div>
          <div class="cell medium-6">
            <label>Name:
              <input type="text">
            </label>
          </div>
          <div class="cell medium-6">
            <label>Birth Date:
              <input type="date">
            </label>
          </div>
          <div class="cell medium-6">
            <label>Email:
              <input type="email">
            </label>
          </div>
          <div class="cell medium-6">
            <label>Username:
              <input type="text">
            </label>
          </div>
          <div class="cell medium-6">
            <label>Password:
              <input type="password">
            </label>
          </div>
          <div class="cell medium-6">
            <label>Confirm Password:
              <input type="password">
            </label>
          </div>
          <div class="cell grid-x align-right">
            <div class="cell medium-3 text-right">
              <input type="submit" class="button" value="Register">
            </div>
          </div>
      </form>
    </div>
{% endblock %}
